.form-reservas
  background-color: #f7ddea

  form
    margin: 0%
    padding: 1em
    display: grid
    grid-template-columns: 1fr 1fr

    p
      margin: 0%
      padding: 1em

    button, input, textarea
      width: 100%
      padding: .7em
      border: none
      background: none
      border-bottom: 1px solid #b97999
      outline: none

    button
      background-color: #f7ddea
      border: 0
      text-transform: uppercase
      padding: 1em
      font-family: 'Bebas Neue'
      font-size: medium

      &:hover, &:focus
        background-color: #b97999
        color: antiquewhite

    .block
      grid-column: 1 / 3